/*@import "../js/angular-upload/src/directives/btnUpload.min.css"; !* or .min.css *!*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.in {
    background: rgba(0, 0, 0, 0.8);
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

a {
    text-decoration: none;
}

/* Month header */
.month {
    /* padding: 70px 25px; */
	padding: 70px 0 70px 0;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
	padding-left: 25px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
	padding-right: 25px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* edit page */
.topBar {
	height: 10%;
	background-color: orange;
}

.editForm {
	padding: 40px 40px;
}

#basic-addon3, #prepend2{
	background-color: pink;
	width: 150px;
}

.input-group {
	margin: 10px;
}

.button-group {
	padding-top: 10px;
	padding-left: 50px; 
}

.btn {
	alignment: center;
}

.right_btn {
	float: right;
	
}

.left_btn {
	float: left;
}

#change_btn {
	padding-top: 10px;
}

/***************************************/
.tag-list {
    padding-bottom: 50px;
}

.edit-tag {
    font-family: 'Roboto', sans-serif;
}

.tag-on .a {
    text-decoration: none;
}

.tag-on {
    font-size: 16px;
    text-decoration: none;
    background-color: #4CD964;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 2px #F1F1F1;
    cursor: pointer;
    margin-right: 20px;
    transition: .5s ease;
}

.tag-on .a:hover {
    background-color: #29A23E;
}

.tag-off {
    font-size: 16px;
    text-decoration: none;
    background-color: #8E8E93;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 2px #F1F1F1;
    cursor: pointer;
    margin-right: 20px;
    transition: .5s ease;
}

.tag-off:hover {
    background-color: #69696E;
}

.tag-number {
    font-weight: 800;
    margin-right: 5px;
}
