<div class="calendar" ng-controller="CalendarController">
		
	<div class="month"> 
	  <ul>
		<li class="prev">&#10094;</li>
		<li class="next">&#10095;</li>
		<li>{{monthName}}<br><span style="font-size:18px">{{thisYear}}</span></li>
	  </ul>
	</div>

    <table>
        <tr class="weekdays" style="text-align: center;">
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thur</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>

        <!--<tr class="days">-->
            <!--<td ng-repeat="blank in blankArr" ng-show="!isSunday"></td>-->
            <!--<td ng-repeat="day in daysArr | limitTo: 7 track by $index" ng-click="checkList(day)" style="cursor: pointer;">-->
                <!--<span ng-class="{active: day == thisDay}" class="number"><a>{{$index+1}}</a></span>-->
            <!--</td>-->
        <!--</tr>-->
        <tr ng-repeat="dayRow in daysRows">
            <td ng-repeat="day in dayRow">
                <span ng-class="{active: day == thisDay}" class="number" ng-click="checkList(day)" style="cursor: pointer;">
                    <a>{{day}}</a>
                </span>
                <span class="event" ng-repeat="edit in allEdits | filter: getIosdate(day)" ng-style="{'background-color':editColors[edit.id]}">
                    <a ui-sref="app.edit({id:edit.id, date:getIosdate(day)})" style="text-decoration: none; color: black;">{{edit.title}}</a>
                </span>
            </td>
        </tr>
    </table>
</div>