
	<main role="main" class="container" ng-controller="ListController">

      <div class="my-3 p-3 bg-white rounded box-shadow">
	  
        <h6 class="border-bottom border-gray pb-2 mb-0">All entries</h6>
		
        <div class="media text-muted pt-3" ng-repeat="edit in allEdits">
			<img alt="" class="mr-2 rounded">
			<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				<div class="left_btn">
					<p>
						<strong class="d-block text-gray-dark">{{edit.title}}</strong>
						{{edit.description}}
					</p>
				</div>
				
				<div class="right_btn" id="change_btn">
					<button role="button" class="btn btn-danger btn-sm" ng-click="deleteEdit(edit.id)">delete</button>
					<button role="button" class="btn btn-info btn-sm right_btn" ui-sref="app.edit({id:edit.id})">change</button>
				</div>
			</div>
        </div>
		
        <small class="d-block text-right mt-3">
			<a ui-sref="app" class="btn btn-primary left_btn" role="button">Back to calendar</a>
            <a ui-sref="app.newEdit" class="btn btn-success right_btn" role="button">Add new edit</a>
        </small>
      </div>

    </main>
