
	<main role="main" class="container tag-container" ng-controller="ListController as $ctrl">
        <script type="text/ng-template" id="tagAdderModal.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Add a new tag</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <form name="tagAdderForm">
                    <label>Tag name:
                        <input type="text" name="input" ng-model="newTag.name" required ng-trim="false">
                    </label>

                    <label>Tag color:
                        <input type="text" name="input" ng-model="newTag.color" required ng-trim="false">
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="addTag()">
                    Add</button>
                <button class="btn btn-warning" type="button" ng-click="cancelAddTag()">
                    Cancel</button>
            </div>
        </script>

      <div class="my-3 p-3 bg-white rounded box-shadow">

		  <div class="tag-list">
			  <div>
				  <p>Filter by Tags: </p>
                  <div style="float: right; ">
                      <a role="button" ng-click="openAddTag()" style="cursor: pointer;">
                          <span class="glyphicon glyphicon-plus"></span>add tag
                      </a>
                  </div>
			  </div>
              <div class="tag-on" ng-repeat="tag in allTags" style="float: left; display: block;">
                  <a style="text-decoration: none;" ng-click="addTagFilter(tag.name)" style="cursor: pointer; ">
                      <span class="tag-number">{{tag.number}}</span>
                      {{tag.name}}
                  </a>
                  <button type="button" ng-click="deleteTag(tag.id)" class="close" aria-label="Close" style="padding-left: 5px; ">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
		  </div>
	  
        <h6 class="border-bottom border-gray pb-2 mb-0">All entries</h6>
		
        <div class="media text-muted pt-3" ng-repeat="edit in allEdits">
			<img alt="" class="mr-2 rounded">
			<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
				<div class="left_btn">
					<p>
						<strong class="d-block text-gray-dark">{{edit.title}}</strong>
						{{edit.description}}
					</p>
				</div>
				
				<div class="right_btn" id="change_btn">
					<button role="button" class="btn btn-danger btn-sm" ng-click="deleteEdit(edit.id)" style="margin: 0px 5px;">delete</button>
					<button role="button" class="btn btn-info btn-sm right_btn" ui-sref="app.edit({id:edit.id, date:thisDate})" style="margin: 0px 5px;">change</button>
				</div>
			</div>
        </div>
		
        <small class="d-block text-right mt-3">
			<a ui-sref="app" class="btn btn-primary left_btn" role="button">Back to calendar</a>
            <a ui-sref="app.newEdit({date:thisDate})" class="btn btn-success right_btn" role="button">Add new edit</a>
        </small>
      </div>

    </main>
